body.kcBodyClass {
    background: none;
}

:root {
    /* --pf-v5-global--BackgroundColor--dark-100: #0cb14c; */
    --pf-v5-global--primary-color--100: #43b56f;
}


.pf-v5-c-masthead__brand {
    width: 150px;
    content: url("/public/Confidently-logo-white.png");
}
